%font {
  @include helvetica();
}

%h1 {
  font-size: 32px;
  line-height: 137%;
  word-spacing: 0;
  // font-weight: bold;

  @include mobile() {
    font-size: 1.8rem;
  }
}

%h2 {
  font-size: 48px;
  line-height: 1;

  @include mobile() {
    font-size: 32px;
  }
}

%h3 {
  font-size: 24px;
  line-height: 1;

  @include mobile() {
    font-size: 20px;
  }
}

%h4 {
  font-size: 20px;
  line-height: 1;
}

%h5 {
  font-size: 16;
  line-height: 1;
}
