body {
  @extend %font;
  color: $color-text;
}

h1, .h1 {
  margin-bottom: 1.5rem;
  @extend %h1;
  color: $color-heading;
}

h2, .h2 {
  margin-bottom: 1.5rem;
  @extend %h2;
}

h3, .h3 {
  margin-bottom: 1.5rem;
  @extend %h3;
}

h4, .h4 {
  margin-bottom: 1.5rem;
  @extend %h4;
}

.bold {
  font-weight: bold;
}

.semibold {
  font-weight: 500;
}
